<!-- Segundo Header -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #00008B; position: fixed; z-index: 1000; width: 100%; top:0;">
    <a class="navbar-brand" href="#">
        <img src="../image/logo.png" alt="Logo" height="40" class="d-inline-block align-top">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav" style="background-color: #00008B;">
        <ul class="navbar-nav text-white">
            <li class="nav-item active">
                <a class="nav-link text-white px-4" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white px-4" href="/sobre">Sobre-nos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white px-4" href="/servico">Serviços</a>
            </li>
            <li class="nav-item">
                <div id="google_translate_element"></div>
                
            </li>
        </ul>
    </div>
</nav>
<!-- Adicione este código no final do corpo da sua página 
<div id="google_translate_element"></div>
<script type="text/javascript">
    // Função para carregar a API do Google Tradutor
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'pt', includedLanguages: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
  </script>
  
  Código para carregar a API do Google Tradutor 
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  -->