<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>
    <section class="header02"><%- include('../partials/header'); %> </section>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Slick Carousel -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
</head>

        <style>
            body {
                background-color: #ffffff;
            }

            .card {
                margin-bottom: 20px;
                border: none;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

            .card-header {
                color: black;
            }
            .card-body{
                background-color: #f8f9fa;;
            }
            .container {
                margin-top: 50px;
                max-width: 90%;
            }
           .carousel img{
                height: 100px;
                width: 100px;
            }
            .carousel-item{
                width: 100px;
                height: 100px;
            }
            @media (max-width: 768px) {
                 img {
                  max-height: 400px; /* Ajuste a altura conforme necessário */
                margin-top: 14%;
                }
              }
              @media (max-width: 768px) {
                .border-1 {
                  /* Subir 10 unidades */
                  max-height: 300px;
                }
              }
        </style>
        <title>Sobre Mir Mobiliarios</title>
    </head>

    <body>
        <div class="bg-primary border-1" style="width: 100%; height: 500px; overflow: hidden;">
            <img src="../image/sala1.jpg" style="width: 100%; height:auto; ;" alt="Imagem Africana">
        </div>
        <header class="conteudo" id="home">
            <div class="container " style="margin-top: 10%;">
                <h2>Sobre Nós</h2>
              <p class="bg-light" style="text-align:justify;  border-top:1px solid #999;border-bottom:1px solid #999; ">A Mir Imobiliária, é composta por uma equipa altamente qualificada e experiente, com grande conhecimento e compreensão do mercado de Moçambique. O desenvolvimento de propriedades é a principal área de actividade da Duma Imobiliária e Serviços, o que nos torna altamente qualificados para lidar com todas as questões relacionadas com; compra, venda, aluguer e projectos comerciais.
                Somos capazes de consultar e auxiliar todos os clientes de forma rápida e livre de estresse, a fim de satisfazer suas necessidades exactas. A Duma Imobiliária e Serviços cobre as seguintes áreas de especialização:<br>
                <br>• Aluguer e Vendas
                <br>• Desenvolvimento de propriedade
                <br>• Gestão de Condomínios
                <br> • Propriedade Comercial / Edifícios
                <br> • Negociações de contratos e arrendamento / documentos legais
                <br>• Consultoria Imobiliária </p>
                
                <div class="row">
                    <!-- Card História -->
                    <div class="col-md-6">
                        <div class="card">
                            <img src="../image/elegant.jpg" class="card-img-top" alt="Imagem História">
                            <div class="card-header">
                                <h4 class="mb-0">Nossa História</h4>
                            </div>
                            <div class="card-body bg-light">
                                <p class="card-text">A Mir Mobiliario começou sua jornada em [ano de fundação], com a
                                    visão de fornecer soluções de Mobilias eficientes e de qualidade.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card Províncias Fornecidas -->
                    <div class="col-md-6">
                        <div class="card">
                            <img src="../image/mozambique.jpg" class="card-img-top" alt="Imagem Províncias">
                            <div class="card-header">
                                <h4 class="mb-0">Províncias Fornecidas</h4>
                            </div>
                            <div class="card-body bg-light">
                                <p class="card-text">Estamos orgulhosos de fornecer nossos serviços em diversas
                                    províncias de Moçambique, incluindo [lista de províncias]. Nossa expansão contínua nos permite
                                    atender às necessidades de clientes em todo o país.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Card Parceiros -->
                    <div class="col-md-6">
                        <div class="card">
                            <img src="../image/successful.jpg" class="card-img-top" alt="Imagem Parceiros">
                            <div class="card-header">
                                <h4 class="mb-0">Nossos Parceiros</h4>
                            </div>
                            <div class="card-body bg-light">
                                <p class="card-text">Trabalhamos em estreita colaboração com parceiros estratégicos para
                                    oferecer soluções abrangentes aos nossos clientes. Nossos parceiros desempenham um
                                    papel
                                    vital em nossa jornada de sucesso.</p>
                            </div>
                        </div>
                    </div>      
                    <div class="col-md-6">
                        <div class="card">
                            <img src="../image/sala1.jpg" class="card-img-top" alt="Imagem Viaturas">
                            <div class="card-header">
                                <h4 class="mb-0">Nossas Mobilias</h4>
                            </div>
                            <div class="card-body bg-light">
                                <p class="card-text">Contamos com diversas Mobilias de qualidade de interesse Domestico</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Card Missão -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header  text-white" style="background-color:	#00008B;">
                            <h4 class="mb-0">Missão</h4>
                        </div>
                        <div class="card-body ">
                            <p class="card-text">Nossa missão é fornecer móveis de alta qualidade e soluções de mobiliário que
                                atendam às necessidades de nossos clientes, contribuindo para criar espaços funcionais e
                                esteticamente agradáveis em residências, escritórios e outros ambientes.</p>
                        </div>
                    </div>
                </div>
                <!-- Card Visão -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header  text-white" style="background-color:	#00008B;">
                            <h4 class="mb-0">Visão</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Nossa visão é ser reconhecidos como líderes no fornecimento de mobiliário de
                                qualidade, inovador e acessível, mantendo um compromisso contínuo com a excelência no serviço ao
                                cliente e sustentabilidade em todas as nossas operações.</p>
                        </div>
                    </div>
                </div>
                <!-- Card Valores -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header  text-white" style="background-color:	#00008B;">
                            <h4 class="mb-0">Valores</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>Qualidade: Comprometemo-nos com a oferta de móveis de alta qualidade e durabilidade.</li>
                                <li>Inovação: Buscamos constantemente novas ideias e soluções para melhorar nossos produtos e
                                    serviços.</li>
                                <li>Satisfação do Cliente: Colocamos as necessidades e satisfação dos clientes no centro de todas
                                    as nossas ações.</li>
                                <li>Sustentabilidade: Promovemos práticas sustentáveis em nossas operações e procuramos minimizar
                                    nosso impacto ambiental.</li>
                                <li>Integridade: Agimos com honestidade, ética e transparência em todas as nossas interações.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
              
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <script type="text/javascript" src="../js/popper.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </header>
    <section class="py-3 footer"> <%- include('../partials/footer'); %> </section>

</body>

</html>